# Gradle, Kotlin e artefatos de compilação
.gradle/
.kotlin/
**/build/
out/
*.class
*.dex
*.apk
*.aab
*.aar

# Arquivos locais das IDEs e SDKs
*.iml
xcuserdata
!src/**/build/
local.properties
.idea/
.DS_Store
captures/
.externalNativeBuild/
.cxx/

# Arquivos temporários e ferramentas locais
/temp/
/androidApp/release/

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Dependências JavaScript
node_modules/
